---
import SimplePage from "../layouts/SimplePage.astro";

import {Content as AboutAuthor} from '../content/about/aboutAuthor.md';
import {Content as AboutSite} from '../content/about/aboutSite.md';
---

<SimplePage pageTitle="About" pageDescription="About Calin Radoni and calinradoni.github.io">
	<section>
		<AboutAuthor />
	</section>
	<section>
		<AboutSite />
	</section>
</SimplePage>

